.menu {
  background-color: $main-color;

  &__content {
    display: flex;
    flex-direction: column;

    height: 100vh;
    overflow-y: auto;
  }

  &__nav {
    @include topActions;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 42px 0 0;
    gap: 32px;
    margin: 0;

    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include onDesctop {
      padding-top: 48px;
    }
  }

  &__link {
    color: $menu-text-color;
    padding-bottom: 7px;
    border-bottom: 1px solid transparent;
    width: max-content;

    transition: border-color $transition-time;

    &:hover {
      border-color: $menu-text-color;
    }
  }

  &__call {
    color: $menu-text-color;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    padding: 40px 0 0;
    transition: all $transition-time;
    width: max-content;

    &--phone:hover {
      color: $form-placeholder-color;
    }

    &--action {
      padding: 16px 0 7px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding-bottom: 7px;
      border-bottom: 1px solid transparent;

      &:hover {
        border-color: $menu-text-color;
      }
    }
  }
}
